/* Browser Reset */
*{
    margin: 0;
    padding: 0;
}


/* General page styles
 */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: ultra-expanded;
    background-color: #f6f6f6;
    color: #050505;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
h2, h3, li, ul {
    text-align: center;
}
h4,h5{
    text-align: center;
}
/* 
    Use CTRL+ / to insert a comment on anything in VS Code, python 
    Use a comma to style multiple selectors
    Measurements: 
    rem/em  **use this one - Measured as a default font size for the page for the device
    in  inches (but be careful if someone is looking at your website on your phone)
    cm  centimeters
    px  pixels (*Tiny, based on the resolution of the page)
    pt  font types

*/
header, footer {
    background-color: #f8f5f5;
    color:#6e1f1f;
    padding: 0.9rem;
    text-align: center;
    text-shadow: rgb(247, 244, 244), 2px 5px 2px;
}

footer{
    background-color: #050505;
    color: white;
}
/* The dot means that this is a coder defined class.  We use it in the html class= whatever the name is in the  document*/
.emphasis{
    color: #3a4836;
    font-size: 1.5em;
}
p, ul{
    margin: .5em;
    text-align: center;
    
}
/* Padding or Margin: Don't get into TRBL (Top right, bottom, left) */
li{
    color: black;
    margin: .5em .5em .1em .52em;
    padding: .2em .5em;
    
}

main{
    padding: 1.5rem 1.5rem 1.5rem;
    max-width: 40rem;
    text-align: right;
    margin: auto;
}

/*  Use a space when you need to select based upon a container*/
nav{
    text-align: center;
    background: #050505;
    text-decoration-color: #f8f5f5;

}
nav ul{
    list-style-type: none;
    display: inline-block; 
    
}

/* Nav styles */


nav ul li{
    display: inline-block;
    padding: 5px 15px 10px 5px;
    
    
}

nav a{
    text-decoration: none;
    padding-right: 50px;
    font-family: impact;
    font-stretch: ultra-expanded;
    color: white;
    
}
/* a Pseudo class is a class that styles a portion of the element */

nav a:hover{
    text-decoration: shadow;
    color:#c9c6be; 
}

.audacook {
    width: 380px;            /* Change width */
    height: auto;            /* Keep aspect ratio */
    position: absolute;      /* Positioning method: absolute, relative, fixed, or sticky */
    top: 70px;               /* Distance from top */
    bottom: 50;
    left: 50px;             /* Distance from left */
  }

#dumpling {
    width: 200px;            /* Change width */
    height: auto;            /* Keep aspect ratio */
    position: absolute;      /* Positioning method: absolute, relative, fixed, or sticky */
    top: 545px;               /* Distance from top */
    bottom: 300px;
    left: 100px;
    flex-wrap: wrap;
  }

#springroll {
    width: 300px;            /* Change width */
    height: auto;            /* Keep aspect ratio */
    position: absolute;      /* Positioning method: absolute, relative, fixed, or sticky */
    top: 650px;               /* Distance from top */
    bottom: 300px;
    right: 20px;
    flex-wrap: wrap;

}

#udon {
    display:flex;
    align-items: center;
    gap:50px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 140px;
    

}
/* Table Styles */


/* pictures of 13 foods */

.gallery {
    display: flex;
    align-self: center;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: flex-start;

}
.gallery img{
    width: 200px;
    height: auto;
    border-radius: 8px;

}

  .gallery table{
    border-collapse: collapse;
    font-size: 16px;
    border:1px solid #f6f6f6;
    
    
  }
  .gallery th, 
  .gallery td,
  .gallery tr {
    display: flex;
    text-align: left; 
    border: 2px solid #faf9f9
    
  }

  .th, tr, td{
    text-align: left;
    
    display:flex;


  }
  .item2 {
    width: 200px;
    height: auto;
    padding: 5px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
    .item4 {
        width: 400px;
        height: auto;
        padding: 5px;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }

  .item6 {
    width: 300px;
    height: auto;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;

  }


.item7{
    width: 300px;
    height: auto;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;

}
.item8{
    width: 200px;
    height: auto;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
}

.item10{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.item11{

    width: 200px;
    height: auto;
    padding: 10px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item13{
    width: 200px;
    height: auto;
    padding: 10px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;

}

/* Form Styles */
form{
    background-color: #f8eeec;
    padding: 1em;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 0.95em;
    max-width: 700px;
}

 