body{
    margin:0;
    padding: 0;
    color: #333;
    font-family: Arial, Helvetica, sans-serif; 
}
h1{
    color: #f1d9ca;
    text-shadow: 1px 1px 2px #131212;
}
header, footer {
    color: #f4e4d8;
    background-color: #a208d1;
    text-align: center;
    }
    .logo{
        float: left;
        width: auto;	
        max-width: 20%;
    }
    .contentImage{
        float: right;
        margin: 1.4em;
        padding: .3em;
        max-width: 55%;
        border: solid 1px grey;
    }
    nav {
        float: left;
        margin: 0;
        padding: 1em;
        width: 10em;
        }
        
        article {
        margin-left: 11em;
        border-left: 1px solid gray;
        padding: 1em;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            }
            li {
            padding: 1em;
            margin-bottom: .5em;
            background-color: #8aa5db;
                width: 7em;
            }
            nav a {
                text-decoration: none;
                    font-weight: bold;
                    color: #072a4d;
                }
                nav li:hover {
                    background-color: #a5addd92;
                }
                
                